<md-sidenav class="md-sidenav-left" md-component-id="left"
    md-whiteframe="4">

    <md-toolbar class="md-theme-indigo">
    <h1 class="md-toolbar-tools">Chiang Mai University</h1>
    </md-toolbar>

    <md-content layout-margin>
    <md-list-item ng-click="navigateTo('data usage', $event)">
        <md-icon md-svg-icon="social:people"></md-icon>
        <p>Student</p>
        </md-list-item>
        <md-list-item ng-click="navigateTo('data usage', $event)">
        <md-icon md-svg-icon="social:school"></md-icon>
        <p>Course</p>
        </md-list-item>
    </md-content>

</md-sidenav>