<md-sidenav class="md-sidenav-left" md-component-id="left"
    md-whiteframe="4" md-is-locked-open="$mdMedia('gt-md')">

    <md-toolbar class="md-theme-indigo">
    <h1 class="md-toolbar-tools">Chiang Mai University</h1>
    </md-toolbar>

    <md-content layout-margin>

        <md-list-item ng-href="#/" ng-click="toggleLeft()">
            <md-icon md-svg-icon="action:home"></md-icon>
            <p>Home</p>
        </md-list-item>

        <md-list-item ng-href="#/student" ng-click="toggleLeft()">
            <md-icon md-svg-icon="social:people"></md-icon>
            <p>Student</p>
        </md-list-item>

        <md-list-item ng-href="#/course" ng-click="toggleLeft()">
            <md-icon md-svg-icon="social:school"></md-icon>
            <p>Course</p>
        </md-list-item>

        <md-divider ></md-divider>

        <md-list-item ng-href="#/setting" ng-click="toggleLeft()">
            <md-icon md-svg-icon="action:settings"></md-icon>
            <p>Settings</p>
        </md-list-item>

    </md-content>

</md-sidenav>