<div layout="column" ng-cloak>

  <md-toolbar md-scroll-shrink ng-if="true">
    <div class="md-toolbar-tools">
      <md-button hide-gt-md class="md-icon-button" aria-label="Menu" ng-click="toggleLeft()">
        <md-icon md-svg-icon="navigation:menu"></md-icon>
      </md-button>
      <h3>
        <span>Student List</span>
      </h3>
      <span flex></span>
      <md-button class="md-icon-button" aria-label="Search">
        <md-icon md-svg-icon="action:search"></md-icon>
      </md-button>
      <md-button class="md-icon-button" aria-label="Search" ng-href="#/student/add">
        <md-icon md-svg-icon="add_circle_outline"></md-icon>
      </md-button>
    </div>
  </md-toolbar>

  <md-content flex>
    <md-list>
      <md-list-item class="md-2-line" ng-repeat="item in students" ng-href="#/student/{{ item.ID }}">
        <img ng-src="../../contents/img/{{ item.Image }}" alt="{{ item.FirstName }}" class="md-avatar">
        <div class="md-list-item-text">
          <h3>{{ item.FirstName }} {{ item.LastName }}</h3>
          <p>ID: {{ item.ID }}</p>
          <md-icon class="md-secondary" aria-label="Detail" md-svg-icon="navigation:chevron_right"></md-icon>
        </div>
        <md-divider inset></md-divider>
      </md-list-item>
    </md-list>
  </md-content>

</div>